# DATA_API_URL=https://streamtrack.gocloudlaunch.com/
DATA_API_URL=http://localhost:5001/
API_KEY=...
AUTH_DOMAIN=streamtrack-....firebaseapp.com
PROJECT_ID=streamtrack-...
STORAGE_BUCKET=streamtrack-....firebasestorage.app
MESSAGING_SENDER_ID=...
APP_ID=1:...:web:...
MEASUREMENT_ID=G-...
CLIENT_ID=...-....apps.googleusercontent.com
WEB_CLIENT_ID=...-....apps.googleusercontent.com