# OCI requires ssh-rsa!
ssh_authorized_keys = [
  "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABA...Example brodsky@streamtrack",
  "ssh-rsa AAAAC3NzaC1lZDI1NTE5AAAAI...Example marucci@streamtrack"
]

# Create your password with 'openssl passwd -6'
hashed_password = "$6$replace_with_real_salt...$replace_with_real_hash_value"

# OCIDs
availability_domain = "xxxx:US-SANJOSE-1-AD-1"
compartment_id      = "ocid1.tenancy.oc1..replace_me"
subnet_id           = "ocid1.subnet.oc1.us-sanjose-1.replace_me"
image_source_id     = "ocid1.image.oc1.us-sanjose-1.replace_me"
